<div class="w-50">
  <form [formGroup]="submitForm" (ngSubmit)="open()">
    <mat-form-field class="w-100">
      <input matInput placeholder="User Name" formControlName="userName" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <textarea matInput placeholder="Message" formControlName="message" required></textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!submitForm.valid">Submit</button>
  </form>
</div>

<div class="w-75 mt4" *ngLet="(previousMessages | async) as messages">
  <mat-table [dataSource]="messages" class="mat-elevation-z8" matSort matSortActive="timestamp" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> message </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
